# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# python
**/__pycache__/
*.py[cod]

# envs
.env
.env.*
*.env

# coverage/logs
**/.pytest_cache/
**/htmlcov/
**/.coverage*
**/coverage.xml
**/logs/
**/*.log

# build outputs
**/dist/
**/build/
**/out/
# .gitignore
wheels/*
!wheels/pandas_ta-0.3.14b0-py3-none-any.whl
# root env
.env
